/* Mobile */

.contact-section {
   padding: 25px;
}

.contact-section>img {
   height: 200px;
   width: 100%;
   object-fit: cover;
}

.contact-section>h1 {
   margin-bottom: 50px;
}

.contact-form {
   padding: 25px;
}

.message-label {
   margin-top: 5px;
}

.message-input {
   height: 128px;
}

.send-btn {
   margin-top: 50px;
}

/* Tablet */
@media screen and (min-width: 0px) {}

/* Desktop */
@media screen and (min-width: 1200px) {
   .contact-section {
      grid-template-columns: 2fr 1fr;
      padding: 50px 100px;
   }

   .contact-section>img {
      grid-column: 2;
      width: initial;
      height: 100%;
      margin: 0px;
   }

   .contact-section>h1 {
      margin-bottom: 50px;
   }

   .contact-form {
      padding: 100px;
      grid-row: 2;
   }

   .input-container {
      gap: 10px;
   }

   .input-icon {
      width: 64px;
      height: 64px;
   }

   .message-input {
      height: 260px;
   }

   .message-label {
      margin-top: 19px;
   }

   .send-btn {
      margin-top: 100px;
   }
}