.header {
   background-image: url("../img/header-background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   justify-content: center;
   height: 100vh;
   display: flex;
}

.navigation {
   display: flex;
   width: 100%;
   position: fixed;
   justify-content: space-between;
   box-sizing: border-box;
   padding: 10px;
   z-index: 2;
   font-family: "Roboto", sans-serif;
}

.navigation-menu {
   display: flex;
   width: 100%;
   height: 100vh;
   flex-direction: column;
   align-content: center;
   align-items: center;
   transform: translateX(-100%);
   padding: 100px 0px 0px 0px;
   transition: .2s;
   box-sizing: border-box;
   position: absolute;
   left: 0px;
   top: 0px;
   background: #0E0E0E;
   gap: 40px;
   text-align: center;
}

#mobile-menu {
   all: unset;
   background-image: url("../img/svg/header/menu.svg");
   width: 48px;
   height: 48px;
   transition: .2s;
   z-index: 1;
}

#mobile-menu:checked {
   transform: rotateZ(180deg);
   background-image: url("../img/svg/header/menu-close.svg");
}

#mobile-menu:checked+.navigation-menu {
   transform: translateX(0%);
}

html:has(#mobile-menu:checked) {
   overflow: hidden;
}

/* A pseudo classe has seleciona um elemento que contém outro elemento que foi passado como argumento para a função. Este elemento que está contido pode assumir diferentes estados para deixar a seleção mais específica. */

.header-title {
   position: relative;
   padding-top: 200px;
   text-align: center;
   max-width: 250px;
   z-index: 1;
}

.navigation-account {
   display: flex;
   align-items: center;
   text-transform: uppercase;
   transition: .2s;
}

@media screen and (min-width: 1000px) {

   .header {
      justify-content: start;
   }

   .navigation {
      padding: 30px;
      justify-content: center;
      background-color: var(--c-2);
   }

   .navigation-menu {
      flex-direction: initial;
      height: initial;
      transform: initial;
      position: initial;
      padding: 0px;
      background: none;
      width: initial;
      gap: 50px;
      align-items: center;
   }

   .navigation-account {
      position: absolute;
      right: 20px;
      text-transform: uppercase;
      gap: 5px;
   }

   #mobile-menu {
      display: none;
   }

   .dropdown-item {
      align-self: initial;
   }

   .header-title {
      max-width: 800px;
      text-align: left;
      padding-left: 100px;
      padding-top: 400px;
   }
}