.header {
   background-image: url("../img/header-background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
   justify-content: center;
}

.navigation {
   position: fixed;
   justify-content: space-between;
   box-sizing: border-box;
   padding: 10px;
}

.navigation-menu {
   width: 100%;
   height: 100vh;
   flex-direction: column;
   align-content: center;
   transform: translateX(-100%);
   padding: 100px 0px 0px 0px;
   transition: .2s;
   box-sizing: border-box;
   position: absolute;
   left: 0px;
   top: 0px;
   background: #0E0E0E;
   gap: 40px;
   text-align: center;
}

.navigation-menu li {
   min-width: 150px;
}

.mobile-menu {
   all: unset;
   background-image: url("../img/svg/menu.svg");
   width: 48px;
   height: 48px;
   transition: .2s;
   z-index: 1;
}

.mobile-menu:checked {
   transform: rotateZ(180deg);
   background-image: url("../img/svg/menu-close.svg");
}

.mobile-menu:checked+.navigation-menu {
   transform: translateX(0%);
}

.navigation-account {
   align-items: center;
}

.navigation-account-image {
   width: 32px;
   height: 32px;
   background-image: url("../img/svg/account.svg");
}

.header-title {
   margin-top: 200px;
   font-size: 2rem;
   text-align: center;
   max-width: 250px;
}

.header-title>span {
   color: #706DE0;
}

.dropdown-item {
   align-self: center;
}

@media screen and (min-width: 1200px) {

   .header {
      justify-content: start;
   }

   .navigation {
      padding: 30px;
      justify-content: center;
   }

   .navigation-menu {
      flex-direction: initial;
      height: initial;
      transform: initial;
      position: initial;
      padding: 0px;
      background: none;
      width: initial;
      gap: 60px;
   }

   .navigation-menu li {
      min-width: initial;
   }

   .navigation-account {
      position: absolute;
      right: 20px;
   }

   .navigation-account-image {
      background-image: url("../img/svg/account_desktop.svg");
      width: 24px;
      height: 24px;
   }

   .mobile-menu {
      display: none;
   }

   .dropdown-item {
      align-self: initial;
   }

   .header-title {
      font-size: 6rem;
      max-width: 800px;
      text-align: left;
      margin-left: 100px;
      margin-top: 400px;
   }
}