.dropdown-button {
   display: flex;
   gap: 5px;
   align-items: center;
   cursor: pointer;
}

.dropdown-items-container {
   display: none;
   text-align: center;
}

.dropdown-items-container.dropactive {
   display: block;
}

.dropdown-item {
   margin-top: 20px;
   color: #EDEDED;
}

.dropdown-item::after {
   display: block;
   content: "";
   width: 100%; 
   height: 1px;
   background-color: #EDEDED;
}

.dropdown-icon {
   transition: .2s;
}

.dropdown-icon.open {
   transform: rotateZ(180deg);
}

@media screen and (min-width: 1200px) {
   .dropdown-items-container {
      position: absolute;
      top: 62px;
      width: 200px;
      min-height: 250px;
      padding-top: 0px;
      background: #0E0E0E;
      z-index: 2;
   }

   .dropdown-item {
      margin: 0px;
      padding: 20px;
      transition: .2s;
   }

   .dropdown-item:hover {
      background-color: #EDEDED;
   }

   .dropdown-item:hover {
      color: #0E0E0E;
   }

   .dropdown-item:hover::after {
      background-color: #0E0E0E;
   }

   .dropdown-item:hover svg path {
      fill: #0E0E0E;
   }
}