.flex {
   display: flex;
   flex-wrap: wrap;
}

.flex-1 {
   flex: 1;
}

.grid {
   display: grid;
}

.flex-dir-cl {
   flex-direction: column;
}

.jf-c-cnt {
   justify-content: center;
}

.jf-c-spb {
   justify-content: space-between;
}

.plc-cnt-cnt {
   place-content: center;
}

.jf-i-cnt {
   justify-items: center;
}

.txt-al-cnt {
   text-align: center;
}

.al-c-st {
   align-content: start;
}

.al-c-cnt {
   align-content: center;
}

.al-i-cnt {
   align-items: center;
}

.al-sf-st {
   align-self: start;
}

.al-sf-cnt {
   align-self: center;
}

.jf-sf-st {
   justify-self: start;
}

.pst-abs {
   position: absolute;
}

.pst-rel {
   position: relative;
}

.grid-span {
   grid-column: 1 / -1;
}

.g-10 {
   gap: 10px;
}

.g-25 {
   gap: 25px;
}

.g-40 {
   gap: 40px;
}

.g-80 {
   gap: 80px;
}

.g-100 {
   gap: 100px;
}

.p-10 {
   padding: 10px;
}

.p-20 {
   padding: 20px;
}

.p-100 {
   padding: 100px;
}

.w-100p {
   width: 100%;
}

.h-100p {
   height: 100%;
}

.h-100vh {
   height: 100vh;
}

.bg-opacity {
   background: rgba(26, 26, 26, 0.50);
   z-index: -1;
}

.bg-1 {
   background: #0E0E0E;
}

.bg-2 {
   background: #1A1A1A;
}

.bg-3 {
   background: #EDEDED;
}

.mt-20 {
   margin-top: 20px;
}

.mt-25 {
   margin-top: 25px;
}

.mt-300 {
   margin-top: 300px;
}

.ml-100 {
   margin-left: 100px;
}

.upper-text {
   text-transform: uppercase;
}

.btn-1 {
   font-size: 1rem;
   color: #EDEDED;
   text-transform: uppercase;
}

.btn-2 {
   font-size: 0.8rem;
   text-transform: uppercase;
}

.btn-3 {
   font-size: 0.875rem;
   font-weight: 500;
   background: #1A1A1A;
   color: #F7F7F7;
   padding: 0.625rem;
   cursor: pointer;
   display: block;
   text-transform: uppercase;
}

.c-1 {
   color: #F7F7F7;
}

.c-2 {
   color: #1A1A1A;
}

.c-3 {
   color: #EDEDED;
}

.c-4 {
   color: #706DE0;
}

.f-1 {
   font-family: 'Titillium Web', sans-serif;
}

.f-2 {
   font-family: 'Roboto Condensed', sans-serif;
}

.fw-1 {
   font-weight: 400;
}

.fw-2 {
   font-weight: 500;
}

.fw-3 {
   font-weight: 600;
}

.tt-1 {
   font-size: 2rem;
   text-align: center;
}

.tt-2 {
   font-size: 1.25rem;
   text-transform: uppercase;
}

.tt-3 {
   font-size: 1rem;
}

.tt-4 {
   font-size: 1.5rem;
   max-width: 360px;
}

.tt-5 {
   font-size: 1.125rem;
}

.txt-1 {
   font-size: 0.875rem;
   text-align: center;
}

.txt-2 {
   font-size: 1rem;
}

.input {
   outline: none;
   border: 2px solid transparent;
   box-sizing: border-box;
   transition: .2s;
   color: #717171;
   display: block;
   font-size: 0.875rem;
}

.input:focus {
   border-color: #706DE0;
   box-shadow: 0px 0px 10px 0px rgba(112, 109, 224, 0.25);
}

.input-label {
   position: absolute;
   font-size: 1rem;
   border-bottom: 3px solid transparent;
   transition: .2s;
   left: 55px;
}

.input:focus+.input-label {
   transform: translateY(-24px);
   border-color: #fff;
   transition: .2s;
}

.input:not(:placeholder-shown, :focus)+.input-label {
   opacity: 0.0;
}

.input-container {
   position: relative;
   gap: 10px;
}

.input-container+.input-container {
   margin-top: 25px;
}

.wh-2 {
   width: 32px;
   height: 32px;
}

.header-icon {
   padding: 1rem;
   transition: .1s;
   width: fit-content;
   height: fit-content;
}

.header-icon:hover {
   background-color: #F7F7F7;
}

.header-icon:hover svg path {
   fill: #0E0E0E;
}

@media screen and (min-width: 1200px) {
   .tt-1 {
      font-size: 4rem;
   }

   .tt-2 {
      font-size: 2rem;
   }

   .tt-3 {
      font-size: 1.5rem;
   }

   .tt-4 {
      font-size: 3rem;
      max-width: 580px;
   }

   .tt-5 {
      font-size: 1.5rem;
   }

   .txt-1 {
      font-size: 1.25rem;
   }

   .txt-2 {
      font-size: 1.125rem;
   }

   .btn-1 {
      font-size: 1.25rem;
   }

   .btn-2 {
      font-size: 1rem;
   }

   .btn-3 {
      font-size: 1.25rem;
      padding: 1rem;
   }

   .wh-1 {
      width: 24px;
      height: 24px;
   }

   .wh-2 {
      width: 64px;
      height: 64px;
   }

   .wh-3 {
      width: 48px;
      height: 48px;
   }

   .input {
      font-size: 1.25rem;
      padding: 10px;
   }

   .input-label {
      left: 105px;
      font-size: 1.25rem;
   }

   .input:focus+.input-label {
      transform: translateY(-43px);
   }

   .input-container {
      gap: 20px;
   }

   .input-container+.input-container {
      margin-top: 50px;
   }
}